.Characters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
    padding: 24px;
}

.container-card{
    padding: 4px;
    box-shadow: 0 0 8px 1px #9e9e9e;
}
